<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NAVER</title>
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
  <h1>NAVER Corporation</h1>
  <div class="index">
    <h2>Main</h2>
    <ul class="index__list">
      <li class="index__item">
        <a href="./html/main_j.html" class="index__link">Main-j</a>
      </li>
      <li class="index__item">
        <a href="./html/main_y.html" class="index__link">Main-y</a>
      </li>
      <li class="index__item">
        <span>test</span>
        <img src="../img/logo.svg" alt="logo">
        <img src="../img/home.png" alt="">
        <button type="button"></button>
      </li>
    </ul>
    <h2>Sub</h2>
  </div>
</body>
<style>
  h1 {
    padding: 20px;
    font-size: 25px;
    background: #1d1d1f;
    color: #fff;
  }

  h2 {
    padding: 10px 5px;
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #333;
  }

  .index {
    padding: 5px 20px;
  }

  .index__item {
    display: block;
    padding: 2px 10px;
    border-bottom: 1px solid #eee;
    list-style: none;
  }

  .index__link {
    font-size: 15px;
    color: #777;
    text-decoration: none;
  }
</style>

</html>